<div
  class="page-banner-wrap bg-cover"
  style="background-image: url('assets/img/page-banner.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-12">
        <div class="page-heading text-white">
          <h1>Contact Us</h1>
        </div>
        <div class="breadcrumb-wrap">
          <nav>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="index.html">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">
                about us
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="contact-us-wrapper section-padding">
  <div class="container">
    <div class="row eq-height">
      <div class="col-lg-8 col-12">
        <div class="contact-form">
          <h2>Get in Touch</h2>
          <form action="" method="POST" class="row" id="contact-form">
            <div class="col-md-6 col-12">
              <div class="single-personal-info">
                <input type="text" name="name" placeholder="Name" required />
              </div>
            </div>
            <div class="col-md-6 col-12">
              <div class="single-personal-info">
                <input type="email" name="email" placeholder="Email" required />
              </div>
            </div>
            <div class="col-md-6 col-12">
              <div class="single-personal-info">
                <input type="text" name="phone" placeholder="Number" required />
              </div>
            </div>
            <div class="col-md-6 col-12">
              <div class="single-personal-info">
                <input
                  type="text"
                  name="subject"
                  placeholder="Subject"
                  required />
              </div>
            </div>
            <div class="col-md-12 col-12">
              <div class="single-personal-info">
                <textarea
                  name="message"
                  placeholder="message"
                  required></textarea>
              </div>
            </div>
            <div class="col-md-12">
              <input
                type="hidden"
                name="recaptcha_token"
                id="recaptcha_token" />
            </div>
            <div class="col-md-12 text-center">
              <button class="submit-btn" type="submit">Send Message</button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-lg-4 col-12">
        <div class="contact-us-sidebar mt-5 mt-lg-0">
          <div class="contact-info">
            <h2>CONTACT INFO</h2>
            <div class="single-info">
              <div class="icon">
                <i class="flaticon-email"></i>
              </div>
              <div class="text">
                <span>Email Us</span>
                <p class="h6">footnoteconsults@gmail.com</p>
              </div>
            </div>
            <div class="single-info">
              <div class="icon">
                <i class="flaticon-phone-call-1"></i>
              </div>
              <div class="text">
                <span>Call Us</span>
                <p class="h6">+256 700 372 968</p>
              </div>
            </div>
            <div class="single-info">
              <div class="icon">
                <i class="flaticon-pin"></i>
              </div>
              <div class="text">
                <span>Location</span>
                <p class="h6">UMF Building, Sir Apollo Kaggwa Rd.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="contact-map-wrap">
  <div id="map">
    <iframe
      loading="lazy"
      src="https://maps.google.com/maps?q=Makerere-Kikoni%2C%20UMI%2Ckampala%2C%20Uganda&amp;t=m&amp;z=10&amp;output=embed&amp;iwloc=near"
      title="Makerere-Kikoni, UMI,kampala, Uganda"
      aria-label="Makerere-Kikoni, UMI,kampala, Uganda"
      style="border: 0; width: 100%"
      allowfullscreen=""
      aria-hidden="false"
      tabindex="0"></iframe>
  </div>
</div>

<!-- /Contact Section -->
<script src="https://www.google.com/recaptcha/api.js"></script>
<script
  type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script type="text/javascript">
  (function () {
    emailjs.init("wvcBgl_07C543imsh");
  })();

  document
    .getElementById("contact-form")
    .addEventListener("submit", function (event) {
      event.preventDefault();

      // Show loading alert
      Swal.fire({
        title: "Sending Message...",
        allowOutsideClick: false,
        didOpen: () => {
          Swal.showLoading();
        },
      });

      // Execute reCAPTCHA
      grecaptcha.ready(function () {
        grecaptcha
          .execute("6Lf4DSAsAAAAANMsLsLrbN2WcLAGO3j529wQcYrN", {
            action: "submit",
          })
          .then(function (token) {
            // Get the form data
            var templateParams = {
              name: document.getElementsByName("name")[0].value,
              email: document.getElementsByName("email")[0].value,
              phone: document.getElementsByName("phone")[0].value,
              subject: document.getElementsByName("subject")[0].value,
              message: document.getElementsByName("message")[0].value,
              recaptcha_token: token,
            };

            // Send the email using emailjs
            emailjs
              .send("service_cpapaz9", "template_k6mstcn", templateParams)
              .then(
                function (response) {
                  Swal.fire({
                    icon: "success",
                    title: "Message Sent",
                    text: "Your message has been sent. Thank you!",
                  });
                  document.getElementById("contact-form").reset();
                },
                function (error) {
                  Swal.fire({
                    icon: "error",
                    title: "Failed to send",
                    text:
                      "Failed to send email. Please try again later. Error: " +
                      JSON.stringify(error),
                  });
                }
              );
          });
      });
    });
</script>
