<section class="our-team-wrapper section-padding">
  <div class="container">
    <div class="row">
      <div class="col-xl-6 offset-xl-3 col-lg-8 offset-lg-2 text-center col-12">
        <div class="block-contents">
          <div class="section-title">
            <h2>Director/CEO</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-xl-4 col-12"></div>
      <div class="col-md-6 col-xl-4 col-12">
        <div class="single-team-member">
          <div class="team-img">
            <img src="assets/img/team/dean.jpg" alt="" />
          </div>
          <div class="team-details-bar">
            <div class="member-details">
              <div class="member-data">
                <span>Director</span>
                <h5>Eng. Dean Nuwenyesiga</h5>
              </div>
              <div class="social-profile">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-linkedin"></i></a>
              </div>
            </div>
            <a class="plus-btn"><i class="fal fa-plus"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-4 col-12"></div>
    </div>
  </div>
</section>

<section class="our-team-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xl-6 offset-xl-3 col-lg-8 offset-lg-2 text-center col-12">
        <div class="block-contents">
          <div class="section-title">
            <h2>Top Leaders</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-xl-4 col-12">
        <div class="single-team-member">
          <div class="team-img">
            <img src="assets/img/team/guma.jpg" alt="" />
          </div>
          <div class="team-details-bar">
            <div class="member-details">
              <div class="member-data">
                <span>CIVIL ENGINEER</span>
                <h5>ENG. GUMISIRIZA EZRA</h5>
              </div>
              <div class="social-profile">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-linkedin"></i></a>
              </div>
            </div>
            <a class="plus-btn"><i class="fal fa-plus"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-4 col-12">
        <div class="single-team-member">
          <div class="team-img">
            <img src="assets/img/team/deanoline.jpg" alt="" />
          </div>
          <div class="team-details-bar">
            <div class="member-details">
              <div class="member-data">
                <span>PROJECT MANAGER </span>
                <h5>Deanoline Kekirunga</h5>
              </div>
              <div class="social-profile">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-linkedin"></i></a>
              </div>
            </div>
            <a class="plus-btn"><i class="fal fa-plus"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-4 col-12">
        <div class="single-team-member">
          <div class="team-img">
            <img src="assets/img/team/brian.jpg" alt="" />
          </div>
          <div class="team-details-bar">
            <div class="member-details">
              <div class="member-data">
                <span>SITE SUPERVISOR</span>
                <h5>MPIRIRWE BRIAN</h5>
              </div>
              <div class="social-profile">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-linkedin"></i></a>
              </div>
            </div>
            <a class="plus-btn"><i class="fal fa-plus"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
